streamlit>=1.35.0
ruff>=0.6.0
pytest>=8.0.0
python-dotenv>=1.0.1
pandas>=2.2.0
langchain>=0.2.14
langchain-community>=0.2.12
langchain_ollama>=0.0.6
pydantic>=2.7.0

sqlglot>=25.0.0

faiss-cpu>=1.8.0
sentence-transformers>=3.0.0

rank-bm25>=0.2.2

-e .
